h1,h2,h3,h4,h5,h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-weight: bold;
}

h2 {
    color: #59aaa5;
    font-weight: bold;
    border-bottom: solid #cccccc 2px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: #7f7f7f;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.social_links {
    color: #0366dc;
}

.navbar {
    padding: 0;
    background-color: white;
}

#nav_container {
    background-color: white;
    padding-right: 3%;
    padding-left: 3%;
    border-bottom: solid #cccccc 2px;
}

p {
    margin-top: 20px;
}

#nav_about, #nav_contact {
    border-right: solid #cccccc 2px;
}

#logo {
    background-color: #59aaa5;
    color: white;
    padding: 20px;
}

body {
    background-color: rgb(160, 160, 160);
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

#main_container {
    padding: 3%;
}

.vertical_align {
    margin: 0;
}

article {
    background-color: white;
}

#img_bio {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
    max-height: 400px;
}

.port_heading {
    margin-bottom: 3%;
}

.img_portfolio {
    margin-bottom: 10%;
    padding: -1px;
    border: solid #cccccc 1px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

footer {
    border-top: solid #59aaa5 5px;
}

#copy {
    color: white;
    padding: 30px;
}

#contact_submit {
    background-color: #59aaa5;
    border-color: #59aaa5;
    border-radius: 0;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 0;
}

.img_wrap {
    position: relative;
    text-align: center;
    color: white;
}

.text_over {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #59aaa5;
    color: white;
    width: calc(100% - 30px);
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* Media Query */
@media (max-width: 680px) {
    .nav {
        margin-inline: auto;
    }
    #logo {
        width: 100%;
        margin-inline: auto;
    }
    #nav_container {
        padding-left: 0;
        padding-right: 0;
    }
    h1 {
        text-align: center;
    }
    .img_portfolio {
        padding: -1px;
        border: solid #cccccc 1px;
    }

}